*.class
AndroidStudio/Fourth/app/build/
AndroidStudio/Fourth/build/
netbeans/
netbeans/lib/
netbeans/WikispeediaBuffer/build/
netbeans/WikispeediaBuffer/dist/
netbeans/WikispeediaTest/build/
netbeans/WikispeediaTest/dist/





*.pptx
*.mp4
device-2015-07-07-032306.asf
